.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navigation__kINgW:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__eTiL6 {
  object-fit: cover;
  width: 40px;
}
.img__eTiL6 > picture > img {
  object-fit: cover;
}
.img__eTiL6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.button__wG1Rx:global(.__wab_instance) {
  position: relative;
}
.svg__bDz1L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg___8WqNz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__rdIqW:global(.__wab_instance) {
  position: relative;
}
.svg__dkkDn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__jk7So {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__tvJe9:global(.__wab_instance) {
  position: relative;
}
.svg__c027H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg___56Ona {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__j4AM:global(.__wab_instance) {
  position: relative;
}
.svg__kg3Oc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__tmXGl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__wUfWi:global(.__wab_instance) {
  position: relative;
}
.svg__nuL09 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg___8ZBk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__wqhZw:global(.__wab_instance) {
  position: relative;
}
.svg__j90Pr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__r1V3H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.hero3 {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  min-width: 0;
  padding: 128px 64px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero3 {
    padding: 256px 32px 32px;
  }
}
.img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.background3 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff80;
}
.foreground {
  display: flex;
  position: relative;
  max-width: 1920px;
}
.foreground > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___3C9A {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___3C9A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___3C9A > :global(.__wab_flex-container) > *,
.freeBox___3C9A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3C9A > :global(.__wab_flex-container) > picture > img,
.freeBox___3C9A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__eKzLs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__eKzLs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eKzLs > :global(.__wab_flex-container) > *,
.freeBox__eKzLs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eKzLs > :global(.__wab_flex-container) > picture > img,
.freeBox__eKzLs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__u6K4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox___7EmT {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__cfewm {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
}
.freeBox___4Pg0X {
  font-size: 20px;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  line-height: 28px;
}
.freeBox__fuWcx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fuWcx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fuWcx > :global(.__wab_flex-container) > *,
.freeBox__fuWcx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fuWcx > :global(.__wab_flex-container) > picture > img,
.freeBox__fuWcx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__grwfv:global(.__wab_instance) {
  position: relative;
}
.svg___5Gzvz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__yC6Ix {
  height: auto;
}
.svg__jkMmn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__tz1G:global(.__wab_instance) {
  position: relative;
}
.svg__xCAgT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__jxWss {
  height: auto;
  font-weight: 400;
}
.svg__aOPy6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__yi7TV {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__yi7TV > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yi7TV > :global(.__wab_flex-container) > *,
.freeBox__yi7TV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yi7TV > :global(.__wab_flex-container) > picture > img,
.freeBox__yi7TV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__iQWgb {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__fW1Z {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__fW1Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fW1Z > :global(.__wab_flex-container) > *,
.freeBox__fW1Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fW1Z > :global(.__wab_flex-container) > picture > img,
.freeBox__fW1Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__aIr6N {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__aIr6N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__aIr6N > :global(.__wab_flex-container) > *,
.freeBox__aIr6N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aIr6N > :global(.__wab_flex-container) > picture > img,
.freeBox__aIr6N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__knGf4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wfbHs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__xXBe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__uQm8N:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__u7N15 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg___36Jhe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__pvcUa {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pvcUa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pvcUa > :global(.__wab_flex-container) > *,
.freeBox__pvcUa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pvcUa > :global(.__wab_flex-container) > picture > img,
.freeBox__pvcUa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__tiw1Z:global(.__wab_instance) {
  position: relative;
}
.divider__h1CGc:global(.__wab_instance) {
  position: relative;
}
.freeBox__ye0Cx {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ye0Cx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ye0Cx > :global(.__wab_flex-container) > *,
.freeBox__ye0Cx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ye0Cx > :global(.__wab_flex-container) > picture > img,
.freeBox__ye0Cx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__uaw7X:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__l5A8A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__pX5R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: OaNfWzqjYboo */;
}
.divider__cWAd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__zNorc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__zW4FG {
  position: relative;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
