.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.freeBox__eaYs {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__eaYs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__eaYs > :global(.__wab_flex-container) > *,
.freeBox__eaYs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eaYs > :global(.__wab_flex-container) > picture > img,
.freeBox__eaYs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__lflxT {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lflxT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lflxT > :global(.__wab_flex-container) > *,
.freeBox__lflxT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lflxT > :global(.__wab_flex-container) > picture > img,
.freeBox__lflxT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yjB3X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox__sxwG {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__rawai {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
}
.freeBox__hoicb {
  font-size: 20px;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  line-height: 28px;
}
.freeBox___76ORf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___76ORf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___76ORf > :global(.__wab_flex-container) > *,
.freeBox___76ORf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___76ORf > :global(.__wab_flex-container) > picture > img,
.freeBox___76ORf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__r0XiZ:global(.__wab_instance) {
  position: relative;
}
.svg__omX6Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox___7Xy2 {
  height: auto;
}
.svg___5Sb9S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__sRzQ:global(.__wab_instance) {
  position: relative;
}
.svg__b07PJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__rIqD {
  height: auto;
  font-weight: 400;
}
.svg__b3Ho7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__erZr {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__erZr > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__erZr > :global(.__wab_flex-container) > *,
.freeBox__erZr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__erZr > :global(.__wab_flex-container) > picture > img,
.freeBox__erZr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___2JsjM {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__xJyR {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__xJyR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xJyR > :global(.__wab_flex-container) > *,
.freeBox__xJyR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xJyR > :global(.__wab_flex-container) > picture > img,
.freeBox__xJyR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gvlG4 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gvlG4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__gvlG4 > :global(.__wab_flex-container) > *,
.freeBox__gvlG4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gvlG4 > :global(.__wab_flex-container) > picture > img,
.freeBox__gvlG4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__wtBf6:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zAuZj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg___9UOtC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__pYDth:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ubZa5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__kx0Yd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox___2Xbqq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2Xbqq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2Xbqq > :global(.__wab_flex-container) > *,
.freeBox___2Xbqq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Xbqq > :global(.__wab_flex-container) > picture > img,
.freeBox___2Xbqq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__n2IXw:global(.__wab_instance) {
  position: relative;
}
.divider__aDlT:global(.__wab_instance) {
  position: relative;
}
.freeBox__t5Km {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__t5Km > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__t5Km > :global(.__wab_flex-container) > *,
.freeBox__t5Km > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t5Km > :global(.__wab_flex-container) > picture > img,
.freeBox__t5Km
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__zQFer:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ehIb6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__qgg7H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: OaNfWzqjYboo */;
}
.divider___2Lsek:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__rCbao {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox___6Kjfk {
  position: relative;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img___1Qza {
  object-fit: cover;
  width: 40px;
}
.img___1Qza > picture > img {
  object-fit: cover;
}
.img___1Qza > .__wab_img-spacer > img {
  object-fit: cover;
}
.button__yeQd:global(.__wab_instance) {
  position: relative;
}
.svg__uPb5B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__orvkk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__xy6He:global(.__wab_instance) {
  position: relative;
}
.svg__xb0Fx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__vszHb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__xu8Ov:global(.__wab_instance) {
  position: relative;
}
.svg__xgzj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__x12Uo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button___74ZH:global(.__wab_instance) {
  position: relative;
}
.svg__vs6Vg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__kJsJ4 {
  height: auto;
}
.svg__uSc0Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__lhqVv:global(.__wab_instance) {
  position: relative;
}
.svg__r5thK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__iyaoe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__rr4G:global(.__wab_instance) {
  position: relative;
}
.svg__mfup1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg___3WD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__tXwgs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__zWdq9 {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__zWdq9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zWdq9 > :global(.__wab_flex-container) > *,
.freeBox__zWdq9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zWdq9 > :global(.__wab_flex-container) > picture > img,
.freeBox__zWdq9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__sPrdi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  line-height: 1;
}
.freeBox__shodi {
  font-size: 20px;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  text-align: left;
  line-height: 28px;
}
.freeBox___8B8Kq {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox___8B8Kq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___8B8Kq > :global(.__wab_flex-container) > *,
.freeBox___8B8Kq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8B8Kq > :global(.__wab_flex-container) > picture > img,
.freeBox___8B8Kq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___792V6 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___792V6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___792V6 > :global(.__wab_flex-container) > *,
.freeBox___792V6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___792V6 > :global(.__wab_flex-container) > picture > img,
.freeBox___792V6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___792V6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___792V6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___792V6 > :global(.__wab_flex-container) > *,
  .freeBox___792V6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___792V6 > :global(.__wab_flex-container) > picture > img,
  .freeBox___792V6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__qnjor:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0Lfwu {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__krwYt {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__ayBLk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zo7P4 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__e6X23 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__l4JkF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lsSaF {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__bA9HM {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__dJiB:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wcVxu {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___2A2JN {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.freeBox__msSj {
  height: auto;
}
.freeBox__rda9J {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__rda9J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__rda9J > :global(.__wab_flex-container) > *,
.freeBox__rda9J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rda9J > :global(.__wab_flex-container) > picture > img,
.freeBox__rda9J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___9R0Wa {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___9R0Wa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___9R0Wa > :global(.__wab_flex-container) > *,
.freeBox___9R0Wa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9R0Wa > :global(.__wab_flex-container) > picture > img,
.freeBox___9R0Wa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9R0Wa {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9R0Wa > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9R0Wa > :global(.__wab_flex-container) > *,
  .freeBox___9R0Wa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9R0Wa > :global(.__wab_flex-container) > picture > img,
  .freeBox___9R0Wa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop___5QGzl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oSf4G {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__cxoka {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.freeBox__s8Slw {
  height: auto;
}
.valueprop__feKR:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eqMpg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__rAx5 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__mLPxo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9ViS5 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__ueFop {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__ydIyI:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gGAjT {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__pizI {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.freeBox__kv34 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__rgHQl {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__rgHQl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rgHQl > :global(.__wab_flex-container) > *,
.freeBox__rgHQl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rgHQl > :global(.__wab_flex-container) > picture > img,
.freeBox__rgHQl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__a34Vh {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: pQj4rXg4tl9P */;
}
.h2__vWh8U {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
  line-height: 1;
}
.freeBox___0J1E {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: OaNfWzqjYboo */;
  line-height: 28px;
  height: auto;
}
.button__wKVx:global(.__wab_instance) {
  position: relative;
}
.svg__k00Tm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox___5SRrj {
  color: #0a84ff /* plasmic-token: HYYCh51dPCkk */;
}
.svg__srE14 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: HYYCh51dPCkk */;
}
.freeBox__leF7C {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__tfToA:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___0TBww {
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
}
.svg__xyWJt {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: pQj4rXg4tl9P */;
}
.listItem__zrqCk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__kWfvI {
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
}
.svg__d1JPa {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: pQj4rXg4tl9P */;
}
.listItem__rf9Dc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__otlfp {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
}
.svg___7KoV {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: pQj4rXg4tl9P */;
}
.listItem___7GjVz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__rkHaE {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
}
.svg__d9Ml {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: pQj4rXg4tl9P */;
}
.listItem___5LaE:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___8EJf {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
}
.svg__nGxoQ {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: pQj4rXg4tl9P */;
}
.freeBox___1Omlh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__c2Os {
  display: flex;
  flex-direction: column;
}
.freeBox__c2Os > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__c2Os > :global(.__wab_flex-container) > *,
.freeBox__c2Os > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c2Os > :global(.__wab_flex-container) > picture > img,
.freeBox__c2Os
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__agdQo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__j9Roh {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
  line-height: 1;
}
.freeBox___13Vgw {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: OaNfWzqjYboo */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__dgPji {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox__dgPji > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dgPji {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dgPji > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dgPji > :global(.__wab_flex-container) > *,
  .freeBox__dgPji > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dgPji > :global(.__wab_flex-container) > picture > img,
  .freeBox__dgPji
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___6T1BI {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6T1BI {
    border-radius: 16px;
  }
}
.freeBox__v94Cf {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__v94Cf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__v94Cf > :global(.__wab_flex-container) > *,
.freeBox__v94Cf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v94Cf > :global(.__wab_flex-container) > picture > img,
.freeBox__v94Cf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___7YTxr {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__cgxWd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cgxWd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__cgxWd > :global(.__wab_flex-container) > *,
.freeBox__cgxWd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cgxWd > :global(.__wab_flex-container) > picture > img,
.freeBox__cgxWd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__ktURm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__cvDq1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox__g3KwN {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox__diznx {
  line-height: 28px;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__etdDs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__fzzJ4 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__fzzJ4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fzzJ4 > :global(.__wab_flex-container) > *,
.freeBox__fzzJ4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fzzJ4 > :global(.__wab_flex-container) > picture > img,
.freeBox__fzzJ4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__khMef {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__khMef > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__khMef > :global(.__wab_flex-container) > *,
.freeBox__khMef > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__khMef > :global(.__wab_flex-container) > picture > img,
.freeBox__khMef
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop___2Zj3U:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jDqb {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__x5IHz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop___3Tbck:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wxyUh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__yl8Q {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.svg___8Fo0X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__lk1I {
  height: auto;
}
.svg__vo4ZZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__j51K0 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: qCbaofJ4khB5 */;
}
.freeBox__k4Aff {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__k4Aff > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__k4Aff > :global(.__wab_flex-container) > *,
.freeBox__k4Aff > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k4Aff > :global(.__wab_flex-container) > picture > img,
.freeBox__k4Aff
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__odOGn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__ypmZl {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ypmZl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ypmZl > :global(.__wab_flex-container) > *,
.freeBox__ypmZl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ypmZl > :global(.__wab_flex-container) > picture > img,
.freeBox__ypmZl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__mbLSz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__gsrXr {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox__qh1Aw {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox___4OJd8 {
  line-height: 28px;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider___6XIAm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__twyqk {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__twyqk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__twyqk > :global(.__wab_flex-container) > *,
.freeBox__twyqk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__twyqk > :global(.__wab_flex-container) > picture > img,
.freeBox__twyqk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__qznEh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qznEh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qznEh > :global(.__wab_flex-container) > *,
.freeBox__qznEh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qznEh > :global(.__wab_flex-container) > picture > img,
.freeBox__qznEh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__dsU4E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3YpU {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__eVtT {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__vtoBj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___6JfL {
  height: auto;
}
.svg__j9U {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__pmgnl {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__wuksy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__c34R3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__cgnZd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__tz0F:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__qtRDn {
  height: auto;
}
.svg__vf1Ed {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__lWPw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.svg___5DKgS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__vq9Yh {
  height: auto;
}
.svg___7TnP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__kbQr {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kbQr {
    border-radius: 16px;
  }
}
.freeBox__zpssl {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__zpssl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zpssl > :global(.__wab_flex-container) > *,
.freeBox__zpssl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zpssl > :global(.__wab_flex-container) > picture > img,
.freeBox__zpssl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__g1DHz {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__gzAvk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gzAvk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gzAvk > :global(.__wab_flex-container) > *,
.freeBox__gzAvk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gzAvk > :global(.__wab_flex-container) > picture > img,
.freeBox__gzAvk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__xhQoI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__qTmrM {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox__ilkTe {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox__goHOz {
  line-height: 28px;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__cwqM8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__i527 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__i527 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__i527 > :global(.__wab_flex-container) > *,
.freeBox__i527 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i527 > :global(.__wab_flex-container) > picture > img,
.freeBox__i527
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__yZLwy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yZLwy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yZLwy > :global(.__wab_flex-container) > *,
.freeBox__yZLwy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yZLwy > :global(.__wab_flex-container) > picture > img,
.freeBox__yZLwy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__aAjW:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9XSRv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__gXsj7 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__kz8Js:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yu1J8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__qedEk {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.svg__zd3Pk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__vdu4T {
  height: auto;
}
.svg__xpkbL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner__ucvvA:global(.__wab_instance) {
  position: relative;
}
.img__jq0SG {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__jq0SG > picture > img {
  object-fit: cover;
}
.img__jq0SG > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__hYgpU {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__ikFeg {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  line-height: 1;
  height: auto;
}
.svg__rQiMj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__aw998 {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Q1S5J6sAm5qG */;
  white-space: pre;
  display: inline-block;
}
.svg__w2Wi1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__udvMj {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__udvMj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__udvMj > :global(.__wab_flex-container) > *,
.freeBox__udvMj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__udvMj > :global(.__wab_flex-container) > picture > img,
.freeBox__udvMj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__udvMj {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__udvMj > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__udvMj > :global(.__wab_flex-container) > *,
  .freeBox__udvMj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__udvMj > :global(.__wab_flex-container) > picture > img,
  .freeBox__udvMj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__yAdYt {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__yAdYt > picture > img {
  object-fit: cover;
}
.img__yAdYt > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__hEz82 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__qgPLe {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  line-height: 1;
  height: auto;
}
.svg__iG063 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox___60STv {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Q1S5J6sAm5qG */;
  white-space: pre;
  display: inline-block;
}
.svg__rbkf0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.banner__nkQxv:global(.__wab_instance) {
  position: relative;
}
.img__mg8X5 {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__mg8X5 > picture > img {
  object-fit: cover;
}
.img__mg8X5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___3GJ7O {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__a3PyR {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  line-height: 1;
  height: auto;
}
.svg__vBGls {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__ybRcO {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: Q1S5J6sAm5qG */;
  white-space: pre;
  display: inline-block;
}
.svg__fxhOu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__v9Ge {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__v9Ge > picture > img {
  object-fit: cover;
}
.img__v9Ge > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7Lm2 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___7Lm2 > picture > img {
  object-fit: cover;
}
.img___7Lm2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__eNzll {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__eNzll > picture > img {
  object-fit: cover;
}
.img__eNzll > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__lg9GE {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__lg9GE > picture > img {
  object-fit: cover;
}
.img__lg9GE > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7YhS {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___7YhS > picture > img {
  object-fit: cover;
}
.img___7YhS > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lFqL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial___2NfLh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__o1P {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial___7YsPj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__dUo8G {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__dUo8G > picture > img {
  object-fit: cover;
}
.img__dUo8G > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial___7JgBa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__p75Dg {
  height: auto;
}
.freeBox__amGG {
  height: auto;
}
.img__woCCj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__woCCj > picture > img {
  object-fit: cover;
}
.img__woCCj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__sxKBq {
  width: 379px;
}
.testimonial__saXIb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___0OhaA {
  height: auto;
}
.img__wryQb {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img__u7S0L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img__u7S0L > picture > img {
  object-fit: cover;
}
.img__u7S0L > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__fIpZ8 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.freeBox__puJgN {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__puJgN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__puJgN > :global(.__wab_flex-container) > *,
.freeBox__puJgN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__puJgN > :global(.__wab_flex-container) > picture > img,
.freeBox__puJgN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gU4C {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
}
.freeBox__dCeNz {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
  line-height: 1;
}
.freeBox__mnEjH {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: OaNfWzqjYboo */;
  line-height: 28px;
}
.freeBox___8J3Fc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___8J3Fc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___8J3Fc > :global(.__wab_flex-container) > *,
.freeBox___8J3Fc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8J3Fc > :global(.__wab_flex-container) > picture > img,
.freeBox___8J3Fc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__vhHzy:global(.__wab_instance) {
  position: relative;
}
.svg__xB6Tq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.svg__yEzb7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.button__lxZi0:global(.__wab_instance) {
  position: relative;
}
.svg__xgOHn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__we2A {
  height: auto;
  font-weight: 400;
}
.svg__frNg9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
