.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 128px;
}
.freeBox {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1920px;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 128px);
  width: calc(100% + 128px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 128px;
  margin-top: 64px;
}
.img__qQy6E {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__qQy6E > picture > img {
  object-fit: cover;
}
.img__qQy6E > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__y2KKu {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__y2KKu > picture > img {
  object-fit: cover;
}
.img__y2KKu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__dg0I {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__dg0I > picture > img {
  object-fit: cover;
}
.img__dg0I > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__g0UDe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__g0UDe > picture > img {
  object-fit: cover;
}
.img__g0UDe > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__o3PmG {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__o3PmG > picture > img {
  object-fit: cover;
}
.img__o3PmG > .__wab_img-spacer > img {
  object-fit: cover;
}
