.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 128px 32px;
  }
}
.freeBox {
  display: block;
  position: absolute;
  height: 500px;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
  background: #1c1c1e;
  flex-shrink: 0;
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__qbKbD {
  display: flex;
  flex-direction: column;
}
.freeBox__qbKbD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qbKbD > :global(.__wab_flex-container) > *,
.freeBox__qbKbD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qbKbD > :global(.__wab_flex-container) > picture > img,
.freeBox__qbKbD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___0Lm3G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__t62DL {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 8o2qt0HUSfHy */;
  line-height: 1;
}
.freeBox__kCVqK {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: OaNfWzqjYboo */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__b2SY1 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  align-items: center;
}
.freeBox__j7FdU {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
.freeBox__cH88 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__cH88 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cH88 > :global(.__wab_flex-container) > *,
.freeBox__cH88 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cH88 > :global(.__wab_flex-container) > picture > img,
.freeBox__cH88
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__sWt3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__yn2C {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yn2C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__yn2C > :global(.__wab_flex-container) > *,
.freeBox__yn2C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yn2C > :global(.__wab_flex-container) > picture > img,
.freeBox__yn2C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__sdpjC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__uZ12 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox___1Thja {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox__ovfxE {
  line-height: 28px;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__eo3Gy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__xgWs8 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__xgWs8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xgWs8 > :global(.__wab_flex-container) > *,
.freeBox__xgWs8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xgWs8 > :global(.__wab_flex-container) > picture > img,
.freeBox__xgWs8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__tpFsE {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tpFsE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tpFsE > :global(.__wab_flex-container) > *,
.freeBox__tpFsE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tpFsE > :global(.__wab_flex-container) > picture > img,
.freeBox__tpFsE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__eVw6D:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7Xrjx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__iw5Vb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__dwhmA:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bGX0 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__ru1Hb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.svg__nHYyg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__myKR {
  height: auto;
}
.svg___21Q54 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__itmL4 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: qCbaofJ4khB5 */;
}
.freeBox__gjnez {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__gjnez > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gjnez > :global(.__wab_flex-container) > *,
.freeBox__gjnez > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gjnez > :global(.__wab_flex-container) > picture > img,
.freeBox__gjnez
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__c0Xpi {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__tHjkC {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__tHjkC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__tHjkC > :global(.__wab_flex-container) > *,
.freeBox__tHjkC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tHjkC > :global(.__wab_flex-container) > picture > img,
.freeBox__tHjkC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__qOWv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___4NquQ {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox___7Irfp {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox__vOfcY {
  line-height: 28px;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__oVkpa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__okhvm {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__okhvm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__okhvm > :global(.__wab_flex-container) > *,
.freeBox__okhvm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__okhvm > :global(.__wab_flex-container) > picture > img,
.freeBox__okhvm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__fwZZg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fwZZg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fwZZg > :global(.__wab_flex-container) > *,
.freeBox__fwZZg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fwZZg > :global(.__wab_flex-container) > picture > img,
.freeBox__fwZZg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__rdmU0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mtxmu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___6Ba9Q {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__pr58L:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__szHdb {
  height: auto;
}
.svg__ztL8T {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__sM5Gj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__gNV3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__atfB {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___5ZBa {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__cPLrT:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__hXd3Y {
  height: auto;
}
.svg__bpEsn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__edymt {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.svg__wPqC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__tBqe {
  height: auto;
}
.svg__fgfht {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__mfsh0 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
.freeBox__eqOcG {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__eqOcG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eqOcG > :global(.__wab_flex-container) > *,
.freeBox__eqOcG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eqOcG > :global(.__wab_flex-container) > picture > img,
.freeBox__eqOcG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__i4B7E {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__zFwu6 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zFwu6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zFwu6 > :global(.__wab_flex-container) > *,
.freeBox__zFwu6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zFwu6 > :global(.__wab_flex-container) > picture > img,
.freeBox__zFwu6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__o76Fu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__rdudm {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox__ttHvT {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: CSNr9pP_O1tB */;
  width: auto;
  display: inline-block;
}
.freeBox__pkChr {
  line-height: 28px;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider___4HhPe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__gdUOh {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__gdUOh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gdUOh > :global(.__wab_flex-container) > *,
.freeBox__gdUOh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gdUOh > :global(.__wab_flex-container) > picture > img,
.freeBox__gdUOh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__gKopi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gKopi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gKopi > :global(.__wab_flex-container) > *,
.freeBox__gKopi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gKopi > :global(.__wab_flex-container) > picture > img,
.freeBox__gKopi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__xfzW:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5GbPd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__o8Yk {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.valueprop__hvpSv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__v6MxJ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__gFn0K {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: w19NkmmSsswu */;
}
.svg__ufyHd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
.freeBox__b0Kt9 {
  height: auto;
}
.svg__nhJid {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: fh_Cq3C9f7pE */;
}
